@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.navbar {
  z-index: 1;
}
#logo {
  height: 30px;
}
#search-icon {
  position: absolute;
  margin-left: -55px;
  cursor: pointer;
  height: 20px;
}
.nav-links li img {
  height: 20px;
  fill: white;
  position: relative;
  margin-top: -3px;
}
.nav-links li a {
  font-size: 18px;
  color: white !important;
  font-weight: 600;
}
.nav-links li a:hover {
  color: rgb(8, 206, 236) !important;
}
.nav-links li a img:hover {
  color: rgb(8, 206, 236) !important;
}
/* .active {
  color: aqua !important;
} */

/* .container {
  font-family: "Inter", sans-serif;
  color: white !important;
} */
.container {
  margin: auto;
  justify-content: space-between;
}
.card {
  max-width: 22%;
}
.card-img-top {
  width: 100%;
}
@media (max-width: 1200px) {
  .card {
    min-width: 18rem;
  }
  .container-md {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .card {
    min-width: 18rem;
  }
  .container {
    flex-wrap: wrap;
  }
}
